EscapeMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;

	.menu {
		color: red;
	}

	.title
	{
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}
}