HUD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;

	.wrap-bottom {
		justify-content: flex-start;
		align-items: flex-end;
		max-width: 20%;
	}

	.bottom {
		background-color: #444;
		font-size: 32px;
		color: #fff;
		flex-direction: column;
	}

	.wrap-main {
		margin-left: auto;
		justify-content: flex-end;
		align-items: center;
		font-size: 40px;
		text-align: right;
		color: white;
		text-stroke: 4px black; 
		//max-width: 20%;

		.main {
			font-weight: 700;
			flex-direction: column;
		}
	}
}
