$logo-width: 200px;
$logo-height: 200px;

Logo {
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0px 0px;
	pointer-events: none;

	.logo {
		width: $logo-width;
		height: $logo-height;
		padding: 1px 1px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		border-radius: 8px;
	}
}
