{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Collide",
    "physgun_held": "Collide",
    "prop": "Collide",
    "no_col_player": "Collide",
    "fading_door_open": "Collide"
  },
  "Pairs": [
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "physgun_held",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "no_col_player",
      "r": "Ignore"
    },
    {
      "a": "physgun_held",
      "b": "prop",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "fading_door_open",
      "r": "Ignore"
    },
    {
      "a": "prop",
      "b": "fading_door_open",
      "r": "Ignore"
    },
    {
      "a": "fading_door_open",
      "b": "solid",
      "r": "Ignore"
    },
    {
      "a": "fading_door_open",
      "b": "world",
      "r": "Ignore"
    }
  ],
  "__guid": "58e046ee-a9d6-4679-a9a6-ddc1f4ca5dfb",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}
