{
  "Version": 2,
  "Mixers": {
    "Guid": "46442feb-a498-4df2-8519-148536ae8bed",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spatializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 0,
    "Reverb": 0,
    "AirAbsorption": 0,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "BlockingTags": null,
    "IgnoredTags": null,
    "Processors": [],
    "Children": [
      {
        "Guid": "b7ead7aa-3818-4670-a5f3-225a28c9e936",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "07c9f527-cd72-4b60-9420-630c7e76d489",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "acb281d6-6cf2-47f8-9568-f2801f42f819",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "b20f7686-7b20-4a87-99d5-390be7c588bb",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "f48ee9ea-d903-4a4b-94e0-17889b4b5123",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}