{
  "DestroyLobbyWhenHostLeaves": true,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": false,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": false,
  "UpdateRate": 50,
  "__guid": "9dfeeda3-b823-44c6-b018-676fbe65c569",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}
